*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #bbb;
}
.form{
    width: 300px;
    padding: 10px;
    margin: auto;
    top: 60px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    position: relative;

    


}
  .form input[type="text"]{ 
    width: 95%; 
    padding: 10% 3%;
    background-color: black;
    border: none;
    outline: none;
    text-align: right;
    color: white;
    font-size: 4em;  

}
  .form  input[type="button"]{
    width: 65px;
    height: 65px;
    font-size: 1.5em;
    border-radius: 50%;
    margin-bottom: 10px;
  }





 div.form form input[type="button"].ac{
    width: 190px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #9e9e9e;    

}
.form  input[type="button"].z{
    width: 130px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

} 
.or{
    background-color: #f79013;
    color: white;
}
.n{
    background-color: #333333;
    color: white;
}

