*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color:#666;
    }
    .checkout-form {
      background-color:chocolate;
      border-radius: 4px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 100%;
      max-width: 400px;
    }
    .checkout-form h2 {
      margin-top: 0;
      font-size: 1.5em;
      color: red;
    }
    .form-group {
      margin-bottom: 15px;
    }
    .form-group label {
      display: block;
      margin-bottom: 5px;
      color:yellowgreen;
    }
    .form-group input, .form-group select {
      width: 100%;
      padding: 8px;
      border: 1px solid brown;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .form-group input[type="submit"] {
      background-color:orange;
      color:black;
      border: none;
      cursor: pointer;
      font-size: 1em;
    }
    .form-group input[type="submit"]:hover {
      background-color: blue;
    }
  
