* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.about p {
    font-size: 18px;
    color: #333;
}

.campaign-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.analytics-chart img{
    width: 50%;
    height: 400px;
    
}

.campaign img {
    width: 50%;
    height: 60%;
    border-radius: 8px;
}

.analytics-chart img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #f4f4f4;
    text-decoration: none;
}
